doctype html
html
  head
    title= Numeros
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            if user
              li(role="presentation")
                a(href="/") Dashboard
              li(role="presentation")
                a(href="/users/logout") Logout
            else
              li(role="presentation")
                a(href="/users/login") Login
              li(role="presentation")
                a(href="/users/register") Register
          
        h3.text-muted Numeros
      
      div.row
        div.col-lg-12
          
          unless success_msg == ''
            div.alert.alert-success #{success_msg}
          unless error_msg == ''
            div.alert.alert-danger #{error_msg}
          if error
            div.alert.alert-danger #{error}
          
          block content
    
      footer.footer
        p &copy; 2015 LoginApp, Inc.
